!!! 5
html
  head
    title Getting Started - Speedovation Responsive framework

    include header

  body

    include _nav
   

    .row
        .col-12

          .header.panel-box-secondary.text-center
            h1.giga Speedovation
              span.badge.badge-round.badge-danger towards 1.0
            p
             img(src="dist/img/responsive.png")
            p.info
                | Welcome in our responsive world!
                | An introduction of Speedovation, getting started , downloads and use, basic templates and examples, and more.
                //- | This is a template for a simple marketing or informational website.
                //- | It includes a large callout called a jumbotron and three supporting pieces of
                //- | content. Use it as a starting point to create something more unique
            //- p
                iframe(
                    src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ficonmart.in&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=35&amp;appId=115400901828877"
                    scrolling="no"
                    frameborder="0"
                    style="border:none; overflow:hidden; height:35px;"
                    allowTransparency="true")

                iframe(
                   src='http://giikers.com/share-widget?url=http%3A%2F%2Ficonmart.in%2F&count=true&count_direction=top'
                   scrolling='no'
                   frameborder='0'
                   allowtransparency='true'
                   style='border:none; overflow:hidden;width:50px;height:65px;' )



          h1.divide-section Introduction

          h2 Getting started
          p Basic download links for production and development versions

          h2 Engineered
          p We engineered world's best lightweight responsive framework

          h2 Download
            sup.badge.badge-warning.badge-round no version
          p There are no downloads available yet.
          p You can access source code at
            a(href="https://github.com/speedovation/wall/" class="button primary") Fork us on Github
          p We are highly active and working hard to bring stable release.

          h2 Icons
          p
            | We are having more than &nbsp;

            a(href="icons.html")
              strong Stripe Icons set (509 + 24 icons)
            |  and growing daily. Stay tuned.
            | This will be one of our core feature.

          h2 Examples
          p
           | These are live sites and live demos of respective owners.
           | I just used here for demo purpose only. Only html part is picked and modified as per our responsive framework.



          p
            span.badge.badge-danger Hot
            |  We are showcasing all examples for faster learning and real implementation.
            | We've tried not to use any extra css possible while cloning any template to show
            | the real power of framework, although you may find very few external css also.
            | This will show the power of new promising framework.


          .row
            ul.link-list.col-6

                li

                  a(href='../examples/layouts/cms.html',target="_blank")
                    h4 Live Site Clone Demo
                    | CMS
                li
                  a(href='../examples/layouts/marketing.html',target="_blank")
                    h4 Pure CSS Template Clone
                    | Marketing Template

                li
                  a(href='../examples/layouts/theme.html',target="_blank")
                    h4 Bootstrap Theme Template Clone
                    | Theme Template




              ul.link-list.col-6
                li
                  a(href='../examples/layouts/simple.html',target="_blank")
                    h4 Bootstrap Example Clone
                    | Simple Site Template

                li
                  a(href='../examples/layouts/sliders.html',target="_blank")
                    h4 Using Sliders
                    | Sliders Template

                li
                  a(href='../examples/layouts/yepnopejs.html',target="_blank")
                      h4 YepNopejs Clone
                      | Yepnopejs template

          p
              span.badge Note
              |  Live Site Examples can used for educational purpose only.
              | Everything else is under MIT license. Rudra Icons and Fonts are under <a href="http://scripts.sil.org/OFL">SIL OFL 1.1</a>

          h2 Live Showcases
          p Not even released and we're having live website
            .row
              ul.link-list.col-8
                li
                  a(href='http://iconmart.in',target="_blank")
                    h4 IconMart
                    | Web Icon Font
